##    HYPOTHESIS TESTING

Null Hypothesis (H₀):
The observed mean weekly operating cost is equal to the cost predicted by the theoretical model.

Mathematically:H0:  Mean Weekly Operating Cost=1000+5X
   
Alternative Hypothesis (H₁):
The observed mean weekly operating cost is higher than the cost predicted by the theoretical model.

Mathematically:H1:  Mean Weekly Operating Cost>1000+5X

In [6]:
import numpy as np
from scipy import stats
import pandas as pd

In [2]:
# z=(x-u)/sigma/sqrt(n)

#x=3050,u=1000+5*x(x=600),sigma=5*25,n=25

z=(3050-4000)/(125/np.sqrt(25))

In [3]:
z

-38.0

Critical Value=0.05

In [4]:
stats.norm.ppf(0.975)

1.959963984540054

####  Decision

We reject the null hypothesis and accept alternative hypothesis.

####   Conclusion

This indicates that there is significant evidence to suggest that the mean weekly cost is higher than what the cost model predicts. The observed costs are significantly higher than what was expected according to the model, supporting the claim that the cost model may no longer be accurate.

## CHI-SQUARE TEST

Null Hypothesis (H0): There is no significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

Alternative Hypothesis (H1): There is a significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.

In [17]:
data={
    "Satisfaction": ["Very Satisfied", "Satisfied", "Neutral", "Unsatisfied", "Very Unsatisfied"],
    "Smart Thermostat": [50, 80, 60, 30, 20],
    "Smart Light": [70, 100, 90, 50, 50],
}
table=pd.DataFrame(data)
table

       Satisfaction  Smart Thermostat  Smart Light
0    Very Satisfied                50           70
1         Satisfied                80          100
2           Neutral                60           90
3       Unsatisfied                30           50
4  Very Unsatisfied                20           50

In [19]:
table=table.drop('Satisfaction',axis=1)

In [20]:
table

   Smart Thermostat  Smart Light
0                50           70
1                80          100
2                60           90
3                30           50
4                20           50

Critical Value=0.05

In [16]:
from scipy.stats import chi2_contingency
chi, p, dof, expected = chi2_contingency(table)
print(p)

0.22784371130697179

###### Decision

We accept the null hypothesis and reject alternative hypothesis.

##### Conclusion

This means there is no significant association between the type of smart home device purchased (Smart Thermostats vs. Smart Lights) and the customer satisfaction level.